@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">
        Teste Desenvolvedor .NET
    </h1>
    <p>
        Criação de uma aplicação ASP .NET MVC com CRUD de clientes,
        utilizando .NET 5.0, SQL Server com Entity Framework e no front end
        HTML, CSS, JavaScript, AJAX e BootStrap
    </p>
</div>
